apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: test-component-pac-ushzdc
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: test-component-pac-ushzdc
    app.kubernetes.io/part-of: build-suite-test-application-vhpw
  name: test-component-pac-ushzdc
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: my-nginx
      app.kubernetes.io/instance: test-component-pac-ushzdc
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: my-nginx
        app.kubernetes.io/instance: test-component-pac-ushzdc
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/build-e2e-guql-tenant/build-suite-test-application-vhpw/test-component-pac-ushzdc@sha256:94304bbda113a96e963f43fbad4f43a481b45e140cc09b076b4057d99f54cf01
        name: my-nginx
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8081
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
